
    .content{
        margin-left: 250px;
        margin-top: 20px;
        width: 70%;
    }

    .title{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
        width: 100%;
        margin-left: -10px;
        justify-content: space-between;
    }
    .link{
        color: #e38c12;
        font-weight: bold;
        font-size:15px;
        cursor: pointer;
        text-decoration: none;
    }
