.datatable {
  height: 80vh;
  font-weight: bold;
  width: 90%;
  padding: 10px;
  flex: 6;
  overflow: visible;
}
.cellWithTable{
  display: flex;
  align-items: center;
  
}
.cellImg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.status{
  padding: 5px;
  border-radius: 5px;
}
.status:active{
    background-color: rgba(red, green, blue, alpha);
    color: green;
}
.status.pending{
  color: yellow;
}
.status.passive{
  color: crimson;
}
.view-btn{
  color: black;
}
.cellAction{
  display: flex;
 justify-content: center;
  gap: 10px;
}
.viewbtn{
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0,0,139,0.596);
  cursor: pointer;
  margin-left: 30px
}

