* {
  font-weight: bold;
}
.widget {
  display: flex;
  padding: 20px;
  gap: 40px;
  flex-direction: row;
  box-shadow: -1px -1px 20px 1px rgba(173, 168, 168, 0.58);
  -webkit-box-shadow: -1px -1px 20px 1px rgba(104, 102, 102, 0.58);
  -moz-box-shadow: -1px -1px 20px 1px rgba(126, 123, 123, 0.58);
  margin-top: 10px;
  justify-content: space-between;
  border-radius: 10px;
  height: 80px;
  width: 150px;
}
.left {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.title {
  font-weight: bold;
  font-size: 14px;
  color: gray;
}

.precentage {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.precentage_positive {
  color: green;
}

.counter {
  color: gray;
}

.links {
  color: orange;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: none;
}
.icon {
  color: blue;
  margin-top: 10px;
  background-color: aqua;
  padding: 2px;
  border-radius: 5px;

}
